<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form example</title>
</head>
<body>
    <h1>Form Example list</h1>
    <ul>
        <p>
            <a href="/"></a>
            <a href="form-example/">Form Example</a>
            {% comment %} <a href="admin/">Admin</a> {% endcomment %}
            <a href="django-form/">Django Form</a>
            {% comment %} <a href="success-page">Succses Page</a> {% endcomment %}
            <a href="user_login">User Login</a>
            <a href="newsletter">Newsletter</a>
            <a href="order/">Order</a>
            <a href="placeholder">Placeholder</a>
            <a href="publisher/">Publisher</a>
        </p>
    </ul>
</body>
</html>