<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form example</title>
</head>
<body>
    <h1>Form Example list</h1>
    <ul>
        <p>
            <a href="/"></a>
            <a href="form-example/">Form Example</a>
            {% comment %} <a href="admin/">Admin</a> {% endcomment %}
            <a href="django-form/">Django Form</a>
            {% comment %} <a href="success-page">Succses Page</a> {% endcomment %}
            <a href="user_login">User Login</a>
            <a href="newsletter">Newsletter</a>
            <a href="order/">Order</a>
            <a href="placeholder">Placeholder</a>
            <a href="publishers/new/">Create</a>
            <a href="publishers/<int:pk>">Detail</a>
        </p>
    </ul>
    <div class="alert alert-{% if message.level_tag == 'error' %} 
    danger{% else %}{{ message.level_tag }}{% endif %}" 
    role="alert">
    {{ message }}
    </div>
    <div>
    <h1>список издателей:</h1>
    <ul>
        
        {% for pub in context %}
        <li>
        <p>Name: <strong>{{pub.name}}</strong> </p><p>Website: <a href= "{{pub.website}}">{{pub.website}}</link></a></p></li>
        {% endfor %}
    </ul>
    </div>

</body>
</html>